{% extends 'AppEducationBundle:BasePage:base_page.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/appeducation/shop/css/components.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/appeducation/shop/css/responsee.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/appeducation/shop/css/icons.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/appeducation/css/base/main.css') }}" type="text/css" media="all">
    <script type="text/javascript" src="{{ asset('bundles/appeducation/jquery/JQuery.js') }}"></script>
{% endblock stylesheets %}
{% block content %}
<div class="line">
    <div class="box">
        <div class="margin3x">
    {{  form_start(form) }}
            {{ form_widget(form.name) }}
            <table>
                <thead>
                <th colspan="8" class="color-head-olive text-center"><label>Data Product</label></th>
                </thead>
        <tbody>
        <tr>

            <th>
                {{ form_label(form.product) }}
            </th>
            <td>
                {{ form_widget(form.product) }}
                {{ form_errors(form.product) }}
            </td>
            <th>
                {{ form_label(form.price) }}
            </th>
            <td>
                {{ form_widget(form.price) }}
                <div class="l-10px inline">{{ form_widget(form.currency) }}</div>
                {{ form_errors(form.price) }}
            </td>
            <th>
                {{ form_label(form.short_description) }}
            </th>
            <td>
                {{ form_widget(form.short_description) }}
                {{ form_errors(form.short_description) }}
            </td>
            <th>
                {{ form_label(form.description) }}
            </th>
            <td>
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </td>
        </tr>
        <th colspan="8" class=" color-head-olive text-center">
            Image for product
        </th>
        <tr>
            <th>
                {{ form_label(form.company) }}
            </th>
            <td>
                {{ form_widget(form.company) }}
                {{ form_errors(form.company) }}
            </td>
            <th>
                {{ form_label(form.location) }}
            </th>
            <td>
                {{ form_widget(form.location) }}
                {{ form_errors(form.location) }}
            </td>
            <th>
                {{ form_label(form.logo) }}
            </th>
            <td colspan="3">
                <span class="file">
                    {{ form_widget(form.logo) }}
                </span>
                {{ form_errors(form.logo) }}
            </td>

        </tr>
        <th colspan="8" class=" color-head-olive text-center" >
                Upload Product (for media file)
        </th>
        <tr>
            <th>
                {{ form_label(form.type) }}
            </th>
            <td>
                {{ form_widget(form.type) }}
                {{ form_errors(form.type) }}
            </td>
            <th>
                {{ form_label(form.file) }}
            </th>
            <td>
                <span class="file">
                    {{ form_widget(form.file) }}
                </span>
                {{ form_errors(form.file) }}
            </td>
            <th>
                {{ form_label(form.product_picture) }}
            </th>
            <td colspan="3">
                <span class="file">
                    {{ form_widget(form.product_picture) }}
                </span>
                {{ form_errors(form.product_picture) }}
            </td>
        </tr>
        <tr>
            <th colspan="8" class="color-head-olive text-center ">
                <label>Add Image (be sure to add)</label>
            </th>

        </tr>
        <tr>
            <td colspan="8" class="tags" data-prototype="
                <span class='label-key '>
                {{ form_label(form.image.0)|e }}
                </span>
                <span class='image-label'>
                    {{ form_label(form.image.0.image)|e }}
                </span>
                <span class='image-widget'>
                    {{ form_widget(form.image.0.image)|e }}
                </span>
                <span class='description-label'>
                    Description image
                </span>

                <span class='description-widget'>
                    {{ form_widget(form.image.0.descimage)|e }}
                </span>
                    {{ form_errors(form.image.0.image)|e }}">
            </td>

        </tr>
        <tr class="display-none">
            {% set i = 0 %}
            {% for image, i in form.image %}

               <div class="display-none">{% set i = {'index': cycle(form_widget(form.image), image) } %}</div>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="8">
                <a href="{{ path('app_homepage') }}"><span class="show_back_text"> Back to Main</span></a>
                <span class="l-5">{{ form_widget(form.save) }}</span>
            </td>
        </tr>
        </tbody>
    </table>
            {{ form_end(form) }}
            {{ form_rest(form) }}
        </div>
    </div>
</div>
    <script type="text/javascript" src="{{ asset('bundles/appeducation/js/prototype/prototype.js') }}"></script>
{% endblock %}

