{% extends 'AppEducationBundle:BasePage:base_page.html.twig'%}
{% block content %}
<div class="line">
    <div class="box">
        <div class="margin2x">
            <section class="s-12 m-8 l-9 right product-prew">
                <h3 class="text-center color-head-olive product-pres rounded-10"> About: {{ product.product }}</h3>
                <div class="s-12 m-12 l-4 hide-m hide-s margin-bottom product-pres padding rounded-10">
                    <img src="{{ asset('uploads/brochures/') }}{{ product.brochure }}">
                </div>
                <div class="s-12 m-12 l-5 padding margin-left10">
                    <p class="padding product-desc margin-bottom"><strong>Implementer:</strong> {{ product.name }}</p>
                    <p class="padding product-desc margin-bottom"><strong>Product:</strong> {{ product.product }}</p>
                    <p class="padding product-desc margin-bottom"><strong>Price:</strong> {{ product.price }}</p>
                    <p class="padding product-desc margin-bottom"><strong>Description:</strong> {{ product.description }}</p>
                </div>
            </section>
            {% include ('AppEducationBundle:Products:sort.html.twig') %}

        </div>
    </div>
</div>
{% endblock %}
