{% extends 'base.html.twig' %}

{% block  index%}
    <header>
        <div class="line">
            <div class="box">
                <div class="s-6 l-2">
                    <img src="{{ asset('bundles/appeducation/shop/img/logo.png') }}">
                </div>
                <div class="s-12 l-8 right">
                    <div class="margin">
                        <form  class="customform s-12 l-8" method="get" action="http://google.com/">
                            <div class="s-9"><input type="text" placeholder="Search form" title="Search form" /></div>
                            <div class="s-3"><button type="submit">Search</button></div>
                        </form>
                        <div class="s-12 l-4">
                            <p class="right">3 items / EUR 199</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TOP NAV -->
        <div class="line">
            <nav>
                <p class="nav-text">Main navigation</p>
                <div class="text-center size-25 color-main-olive"> {% trans %}Preregistration {% endtrans %}</div>
            </nav>
        </div>
    </header>
<div class="line">
    <div class="box">
        <div class="margin2x">
            <section class="s-12 m-8 l-9 right">
                <div class="margin">
                    {{ form_start(form) }}
                    <div class="size-25 colorpicker-color ml-15per">{{ form_label(form.merchandiser) }}<div>
                    <div class="colorpicker-color ml-15per">{{ form_widget(form.merchandiser) }}</div>
                            <div class="btn-default buton-around">{{ form_label(form.save)|trans }}</div>
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock index%}
