{% extends "base.html.twig" %}
{% block  index %}
    {{ form_start(form) }}
    <table>
        <tbody>
        <tr>
            <th>
                Username
            </th>
            <td>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </td>
        </tr>
        <tr>
            <th>
                Email
            </th>
            <td>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </td>
        </tr>
        <tr>
            <th>
                Password
            </th>
            <td>
                {{ form_widget(form.plainPassword.first ) }}
                {{ form_errors(form.plainPassword.first) }}
            </td>
        </tr>
        <tr>
            <th>
                Cnfirm Password
            </th>
            <td>
                {{ form_widget(form.plainPassword.second ) }}
                {{ form_errors(form.plainPassword.second) }}
            </td>
        </tr>
        <tr>
            <th>
                Name
            </th>
            <td>
                {{ form_widget(form.name ) }}
                {{ form_errors(form.name) }}
            </td>
        </tr>

        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock index %}
